


<%= form_for [@conversation, @message] do |f| %>
  <div class="txt-area">
    <%= f.text_area :body, class: "form-control", placeholder: "Inquire about a book..." %>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden", class: "txt-chat", id: "msgs"  %> 
  </div>
    <div id="index"> 
    <%= f.submit "Send message", id: "btn-chat", remote: true, return: false %>
    </div>
<% end %>

<br>


<!-- 
<script type="text/javascript">
  $ ->
     $('#btn-chat').click(function(r){
       var msg = $('#msgs').serialize();
           $.ajax({      
            type: "POST",
            url: (this),
            dataType: "JSON",
            data: msg,
            success:(data) ->
              alert (data)
              return false;
              r.preventDefault();
            error:(data) ->
              return false;   
              )};      
     
 })               
</script> -->



