

      <% @users.each do |user| %>
        <% if user.id != current_user.id %>
          <div class="row">
          <div class="col-3 menu">
            <h4><%= image_tag user.avatar.url.to_s, class: "profpics" %> 
            <%= link_to "#{user.email}",  conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post", class: "name" %></h4>
          </div>
          </div>
      <% end %>
    <% end %>

<br>


<hr class="style13" style="margin-top: 2%">
<br>

